<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Accounts</h1>

      <form class="form-inline">
        <div class="form-group">
          <label>Account Name</label>
          <input name="name" type="text" class="form-control" placeholder="Name of account" ng-model="newAccount">
        </div>
        <button type="submit" class="btn btn-primary" ng-click="addAccount()">Add New</button>
      </form>

      <table class="table table-striped">
        <thead>
          <th>Account</th>
          <th class="text-right">Connection</th>
        </thead>
        <tbody>
          <tr ng-repeat="account in accounts">
            <td>{{account.name}}</td>
            <td><button type="submit" class="btn btn-primary" ng-click="connectAccount(account._id)">Connect</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
